body {
  font-family: 'Arial', sans-serif;
  background-color: #1c1c1c;
  /* Dark background */
  color: #fff;
  /* White text */
  margin: 0;
  padding: 0;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2 {
  color: #fff;
  margin-bottom: 10px;
}

.money,
.team-stats {
  font-size: 1.2em;
  margin-bottom: 10px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  justify-content: center;
}

li {
  list-style: none;
  background-color: #333;
  /* Darker card background */
  padding: 15px;
  border-radius: 8px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

li img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px;
}

li div {
  margin-bottom: 5px;
  font-size: 14px;
}

li button {
  padding: 8px 10px;
  margin-top: 10px;
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
}

li button:hover {
  background-color: #fff;
  color: #000;
}

li button:disabled {
  background-color: #555;
  color: #ccc;
  cursor: not-allowed;
}

.team-stats {
  margin-top: 20px;
}

.team {
  margin-top: 20px;
}

.pick-team {
  margin-top: 10px;
  font-size: 16px;
}